<div class="container btn" data-bs-toggle="modal" [attr.data-bs-target]="'#event-details-modal-' + event?.eventId">
    <div class="top-row">
        <h3 id="title">{{ event?.eventName }}</h3>
        
        <div *ngIf="favorited === true; then filled_in else empty"></div>

        <ng-template #filled_in>
            <i (click)="switchState($event)" class="bi bi-star-fill favorite-btn" width="25" height="25" viewBox="0 0 16 16"></i>
        </ng-template>

        <ng-template #empty>
            <i (click)="switchState($event)" class="bi bi-star favorite-btn" ></i>
        </ng-template>

    </div>
    <div class="bottom-row">
        <p id="event-time">{{ event?.eventTime?.toDateString() }}</p>
        <p id="event-location">{{ event?.eventLocation}}</p>
    </div>
</div>