/* * {
    border: 1px solid black;
} */

.container {
    border: 1px solid rgb(115, 115, 115);
    border-radius: 10px;
    box-shadow: -2px 4px 5px 0.1px rgb(82, 82, 82),
                 2px 0px 5px 0.1px rgb(82, 82, 82);
    background-color: wheat;
    width: 350px;
    max-height: 300px;
    padding: 50px 10px 5px 10px;
    margin: 50px;

    cursor: pointer;

    /* Disable text highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title {
    text-align: left;
    padding: 10px 0;
}

.favorite-btn {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 20px;
    background-color:rgb(228, 228, 228);
    box-shadow: 0 7px #999;
    padding: 0px 15px;
    place-content: center;
    height: auto;
    max-height: 50px;
    cursor: pointer;
    pointer-events: auto;
}

.favorite-btn:hover {
    background-color: rgb(225, 225, 225); 
}

.favorite-btn:active {
    background-color: rgb(208, 208, 208);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#event-time {
    text-align: left;
}

#event-location {
    color:#6b6b6b;
    font-size: 0.9rem;
    text-align: right;
    text-wrap: pretty;
}
