* {
    border: 1px solid black;
}

.container {
    border: 5px sold black;
    border-radius: 10px;
    background-color: wheat;
    width: 350px;
    max-height: 300px;
    padding: 50px 10px 5px 10px;
    margin: 50px;

    cursor: pointer;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favorite-btn {
    border: 1px solid red;
    padding: 25px 10px;
    cursor: pointer;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}